:root {
    --light-gray-color: #DFDFDF;
    --gray-color: #282828;
    --dark-blue-color: #141922;
    --green-color: #ADFF2E;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
    font-family: 'Montserrat', sans-serif;
    color: var(--light-gray-color);
}

/* COMMON */
.container {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

/* menu */
ul {
    list-style: none;
}

.playlist ul li,
.playlist-menu ul li {
    padding: 5px 10px;
}

/* menu inline */
.menu-inline li{
    display: inline-block;
    list-style: none;
}

/* position */
.relative {
    position: relative;
}

/* float */
.col {
    float: left;
}

/* font colors */
.font-white {
    color: white;
}

.font-gray {
    color: var(--gray-color);
}

/* TOP ROW */
.top-row {
    height: calc(100% - 50px);
}

.top-row::after {
    content: '';
    display: table;
    clear: both;
}

/* SIDE HEADER*/
.side-header {
    width: 150px;
    height: 100%;
    background-color: limegreen;
}

/* logo */
.logo {
    height: 50px;
    line-height: 50px;
    background-color: black;
}

.logo .logo-big {
    width: 55%;
    margin-left: 10%;
    vertical-align: middle;
}

.logo .logo-small {
    display: none;
    width: 45%;
    vertical-align: middle;
}

/* general */
.general {
    height: 100px;
    background-color: black;
}

.general ul li a {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 0.5em;
    font-weight: 500;
    color: var(--light-gray-color);
}

.general ul li.gen-active {
    border-left: 2px solid var(--green-color);
}

.general ul li.active a span {
    color: white;
    font-weight: 600;
}

.general ul li {
    padding: 5px 10px;
}

.menu-img {
    width: 15%;
    margin-right: 2px;
}

.general ul li:hover a {
    color: white;
}

/* playlist */
.playlist {
    height: 75px;
    background-color: black;
}

.uppercase {
    font-size: 0.6em;
    text-transform: uppercase;
    font-weight: 600;
}

.playlist h3 {
    padding: 5px 10px;
}

.playlist ul li a {
    text-decoration: none;
    color: var(--light-gray-color);
    font-size: .6em;
    font-weight: 500;
    display: flex;
    align-items: center;
}

.playlist ul li a .play-symbol {
    display: inline-block;
    width: 25px;
    height: 25px;
    color: black;
    background-color: #d2d2d2;
    font-size: 2em;
    padding: 2px;
    line-height: 20px;
    text-align: center;
    margin-right: 5px;
}

.playlist ul li:hover .play-symbol {
    background-color: white;
}

.playlist ul li:hover .play-text {
    color: white;
}

/* playlist menu */
.playlist-menu {
    height: calc(100% - 275px);
    overflow: auto;
    background-color: black;
}

.playlist-menu ul li a {
    text-decoration: none;
    color: var(--light-gray-color);
    font-size: .6em;
    font-weight: 500;
}

.playlist-menu ul li:hover a {
    color: white;
}

/* side footer */
.side-footer {
    height: 50px;
    background-color: black;
}

.side-foot-img {
    width: 10%;
    margin-right: 5px;
}

.side-footer a {
    text-decoration: none;
    color: var(--light-gray-color);
    padding-left: 10px;
    font-size: .6em;
    font-weight: 500;
}

.side-foot-ctoa {
    display: flex;
    align-items: center;
}

.side-footer hr {
    color: var(--light-gray-color);
    margin: 5px 10px;
}

.side-footer a:hover span {
    color: white;
}

.side-footer .profile {
    padding-left: 10px;
    display: flex;
    align-items: center;
}

.side-footer .profile-img {
    width: 15px;
    height: 15px;
    line-height: 15px;
    border-radius: 50%;
    background-color: var(--gray-color);
    text-align: center;
    overflow: hidden;
    margin-right: 5px;
}

.side-footer .profile img {
    display: inline-block;
    width: 100%;

}


.side-footer .profile-name {
    font-size: 0.6em;
    font-weight: 600;
}

/* MAIN */
.main {
    width: calc(100% - 150px);
    height: 100%;
    background-color: var(--dark-blue-color);
}

/* main-header */
.main-header {
    position: fixed;
    top: 0;
    right: 0;
    width: calc(100% - 150px);
    min-width: 400px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.main-header a.btn {
    text-decoration: none;
    color: white;
    padding: 7px 25px;
    font-size: 0.6em;
    font-weight: 500;
    text-transform: uppercase;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 25px;
    margin-right: 15px;
}

.main-header a.btn:hover {
    font-size: 0.7em;
    padding: 9px 27px;
}

/* main-body */
.main-body {
    min-width: 400px;
    height: 100%;
    padding-top: 60px;
    overflow: auto;
}

/* main-menu */
.main-body .main-menu {
    margin: 10px 0;
    display: flex;
    justify-content: center;
}
.main-body .main-menu li {
    margin: 0 10px;
}

.main-body .main-menu li .main-active {
    position: relative;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    color: var(--green-color);
    width: 30%;
}

.main-body .main-menu li a {
    display: inline-block;
    text-decoration: none;
    font-size: 0.6em;
    text-transform: uppercase;
    font-weight: 600;
    white-space: nowrap;
    color: var(--light-gray-color);
}

.main-body .main-menu li a:hover {
    color: white;
}

/* main row */
.main-body .row {
    width: 95%;
    margin: 20px auto;
}

.main-body .played1100 {
    display: none;
}

h2.row-title {
    font-size: 1.1em;
    font-weight: 600;
    color: white;
}

.main-body .thumb-menu {
    margin-top: 10px;
}

.main-body .thumb-menu li {
    width: calc((100% / 6) - 15px);
    margin-right: 10px;
    margin-top: 10px;
    text-align: center;
}

.main-body .thumb-img {
    display: inline-block;
    width: 100%;
}

.thumb-hov {
    width: 100%;
    height: 100%;
}

.play-hov {
    display: none;
    font-size: 2.5em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main-body .thumb-menu li:hover .thumb-img {
    opacity: 0.7;
    cursor: pointer;
}
.main-body .thumb-menu li:hover .play-hov {
    display: inline-block;
    cursor: pointer;
    z-index: 2;
}


.main-body .thumb-title {
    display: inline-block;
    font-size: 0.6em;
    font-weight: 500;
    color: white;
    margin-top: 5px;
}

.main-body .thumb-subtitle {
    display: inline-block;
    font-size: 0.5em;
    font-weight: 500;
    margin-top: 5px;
}

.main-body .thumb-cont {
    display: inline-block;
    border-radius: 50%;
    overflow: hidden;
}

/* FOOTER */
.footer {
    height: 50px;
    min-width: 400px;
    background-color: var(--gray-color);
    display: flex;
    justify-content: space-between;
}

.col-left,
.col-right {
    width: 10%;
}

.col-cen {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.col-left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.col-left .song-img {
   height: 60%;
   margin-right: 2px;
   margin-left: 2px;
}

.col-left .song-info .song-name {
    font-size: .5em;
    color: white;
}
.col-left .song-info .song-artist {
    font-size: .4em;
}
.col-left .song-info .song-artist:hover {
    text-decoration: underline;
    cursor: pointer;
}

.col-left .song-tools {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 20px;
    font-size: .8em;
}
.col-left .song-tools i {
    margin-bottom: 3px;
}

.col-left .song-tools i:hover {
    color: white;
    cursor: pointer;
}

.col-cen .cen-top {
    width: 100%;
    margin: 5px;
}
.col-cen .cen-top .cen-top-menu {
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cen-top button {
    background-color: transparent;
    padding: 10px;
    border: transparent;
}

.col-cen .cen-top i {
    color: white;
    font-size: 1em;
}

.col-cen .cen-top .cen-top-menu .fix {
    width: 60px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.col-cen .cen-top .fix .play-big .play {
    font-size: 1.8em;
}

.col-cen .cen-top .sx:hover,
.col-cen .cen-top .dx:hover {
    cursor: pointer;
}

.col-cen .cen-top .play-big:hover .play {
    cursor: pointer;
    font-size: 2em;
}



/* MEDIA QUERY */

/* <1100px */
@media screen and (max-width: 1100px) {
    
    /* main-body */
    
    .main-body .thumb-menu li {
        width: calc((100% / 4) - 15px);
    }
}

/* <700px */
@media screen and (max-width: 700px) {
    
    /* main-header */
    .main-body .main-menu {
        flex-wrap: wrap;
    }

    /* main-body */
    
    .main-body .thumb-menu li {
        width: calc((100% / 2) - 15px);
    }
}

/* <600px */
@media screen and (max-width: 600px) {
    
    /* side-header */
    .side-header {
        width: 40px;
    }
    .logo {
        text-align: center;
    }
    .logo .logo-big {
        display:none;
    }
    .logo .logo-small {
        display:inline-block;
    }
    .general ul li a span {
        display:none;
    }
    .general ul li a img {
        width: 100%;
    }
    .playlist h2 {
        display:none;
    }
    .playlist ul {
        display:none;
    }
    .playlist-menu ul {
        display:none;
    }
    .side-footer .side-foot-ctoa {
        justify-content: center;
        padding-left: 0;
    }
    .side-footer .side-foot-ctoa .side-foot-text {
        display:none;
    }
    .side-footer .side-foot-ctoa .side-foot-img {
        width: 20%;
    }
    .side-footer hr {
        visibility: hidden;
    }
    .side-footer .profile {
        justify-content: center;
        padding-left: 0;
    }
    .side-footer .profile .profile-name {
        display:none;
    }

    .main {
        width: calc(100% - 40px);
    }

    .main-header {
        width: calc(100% - 40px);
    }

    /* main-header */
    .main-body .main-menu {
        flex-wrap: wrap;
    }
}